//
// Modal
//
// Base
.modal {
  // Mobile header
  .modal-header {
    align-items: center;
    justify-content: space-between;
    @include border-top-radius($modal-content-border-radius);

    // Headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
    }
  }

  .animation-modal {
    animation: fadein 0.5s ease-in-out;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  // Mobile dialog
  .modal-dialog {
    outline: none !important;
  }

  .modal-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
  }

  .bg-dark-cyan {
    background-color: #55b7b6;
  }

  .bg-orange {
    background-color: #ff712b;
  }

  .bg-purple {
    background-color: #5945b4;
  }

  .bg-blue {
    background-color: #0477b9;
  }

  .text-white {
    color: white;
  }

  .btn-batal {
    border: none;
    background-color: white;
    font-weight: 600;
  }

  .btn-next {
    background: #cb2939;
    color: white;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px 0;
    margin-top: 10%;
  }

  .hide-tutorial {
    margin: 0 auto;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 40%;
  }

  .lds-ellipsis {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #cb2939;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  .submit-btn {
    background: #cb2939;
    border-radius: 10px;
    color: white;
  }

  input[type='checkbox'] {
    accent-color: #cb2939;
  }

  .step-border {
    border: 10px solid #ffffff;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  .number {
    background: white;
    margin: 0 auto;
    border-radius: 50%;
    width: fit-content;
    margin-top: -12%;
    font-size: 23px;
    font-weight: bold;
  }

  .step-pembubuhan {
    width: 24%;
    text-align: center;
    padding: 50px 13px;
    flex-direction: row;
  }

  @media screen and (max-width: 480px) {
    .modal-title {
      font-size: 20px;
    }

    .step-pembubuhan {
      flex-direction: column !important;
    }
  }
}

// Utilities
.modal-rounded {
  @if $enable-rounded {
    border-radius: $modal-content-border-radius !important;
  }
}
